[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
openeo = "*"
notebook = "*"
sentinelhub = "*"
numpy = "*"
matplotlib = "*"
jsbeautifier = "*"

[packages]
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.pg-to-evalscript]
path = "."

[packages.e1839a8]
path = "."
editable = true
