[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
openeo = "*"
notebook = "*"
sentinelhub = "*"
numpy = "*"
matplotlib = "*"
jsbeautifier = "*"

[packages]
pytest = "*"
pg-to-evalscript = {path = "."}

[requires]
python_version = "3.8"
